body {
    background-color: #fff;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
summary {
            cursor: pointer;
            font-size: 1.0em;
            font-weight: bold;
        }
nav {
    background-color: #222;
    padding: 5px;
	top:0px;
    text-align: left;
	width: 110px;
	position: fixed;
	border: 1px solid #ccc;
    border-radius: 5px;	
	z-index: 1000; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
	width: 100%;
	align-items:center;
}

nav ul li {
    
    margin-left: 10px;
	margin-bottom: 3px;
	
}
nav ul li a {
    color: #fff;
    
}

section {
    padding: 30px 30px;
    text-align: center;
	border-style: outset;
	border-width: 3px;
	margin: 20px;
	background-color: blue;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.G {
	align-items: center;
	
	padding-bottom:0px;
	margin-bottom:0px;
}
.profile-pic {
    
    width: 210px;
    height: 250px;
    object-fit: cover;
	align-items:right;
    margin: 20px;
	
}
.experience-pic {

    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
}
.education-pic {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
}	
.description {
    max-width: 400px;
    text-align: center;
    margin: 0px;
}

#about .content {
    flex-direction: row;
	
}

#education .content {
    flex-direction: row-reverse;
}

#experience .content {
    flex-direction: row-reverse;
}
#contact .description{
	max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	margin: 0px;
}

.grid-container{
	background-color: gray;
	border-radius: 10px;
	padding: 5px;
}
.grid-item {
	transition: transform 0.3s ease;
    width: 60px;
    height: auto;
    object-fit: cover;
}


nav ul li :hover{
	color: blue;
}

.hover-image {
    transition: transform 0.3s ease;
    width: 300px; 
    height: auto; 
	
}

.hover-image:hover {
    transform: scale(1.2); 
}
.grid-item:hover {
    transform: scale(1.2); 
}
.image {
	width:650px;
	max-width:100%;
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
}

.image.visible {
    opacity: 1;
}


.image-container {
	padding:30px;
    height: 40vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
